/* Body will have a solid black border around it.
In the body:
Want main header to say "Temperature Scale Converter".
Below header, in a row the first label should read "Farenheit".
The second element should be a box showing an input with the label of "Value".
The third element should be a blue button that says, "Calculate".
Finally, there should be a footer that displays an output with the label of "Celsius". */



html {
  border: 1px solid black;
  padding: 10px;
  margin: 30px;
  font-family: Arial, Helvetica, sans-serif, monospace;
  
}
.button1 {
    border: 1px solid blue;
    color: black;
    background-color: lightblue;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

h1 {
  text-align: center;
  font-size: 50px;
}
 h2 {
   text-align: center;
 }
.main-footer {
  text-align: center;
  font-size: 20px;
}
.column {
  display: inline-block;
  padding: 50px 100px;
  margin: 25px 10px;
}

.result {
  height: 10px;
} 
